---
interface Props {
    title: string;
    href: string;
    
}

const {title, href} = Astro.props;
---

<a href={href}>
{title}
</a>


<style>
    a {
        @apply text-paragraph block mt-2 text-sm text-justify;
    }

    </style>