---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a href={href}>
  {title}
</a>

<style>
  @reference "@/styles/global.css";
  a {
    @apply text-paragraph block mt-2 text-sm text-justify;
  }
</style>
