.mountain {
  color: var(--color-gray-400);
  mask: url("/mountain.svg") no-repeat center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  aspect-ratio: 16 / 9;
}

.experienceListContainer {
  border: 1px solid #292929;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0c0c0c;
  width: 24rem; /* Equivalent to w-96 in Tailwind (384px) */
  padding: 1.5rem; /* Equivalent to p-6 in Tailwind (24px) */
  opacity: 0.75;
  border: 1px solid #292929;
}

.experienceListItem {
  background-color: #292929;
  width: 100%;
  max-width: 13rem; /* Approximate for lg:w-52 (208px) */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
  flex: 1 1 auto;
}
