---
import { getLastBlogPost } from "@/core/blog/functions";
import { Icon } from "astro-icon/components";
import MiniHeader from "../ui/MiniHeader.astro";
import Button from "../ui/Buttons/Button.astro";

const lastPost = await getLastBlogPost();

const image = lastPost.data.image;
---

<section>
  <article class="linkedin-container">
    <a href="https://www.linkedin.com/in/briancifuentes/" target="_blank">
      <div class="p-12 lg:p-16 flex flex-col gap-6">
        <div class="flex flex-col gap-2 title">
          <h1 class="">Desarrollador <span>de Software</span></h1>
          <span class="dark:text-paragraph"
            >Capitan QuesoCaliente en servicio</span
          >
        </div>
        <Button
          class="w-fit px-4 py-2 md:px-8 md:py-4 rounded-lg flex font-semibold text-lg md:text-xl"
          radius="none">Conectemos en Linkedin</Button
        >
      </div>
      <img
        class="relative self-end w-[650px] right-0"
        src="/images/home/tablet-linkedin.webp"
        alt="linkedin"
      />
    </a>
  </article>
  <article class="my-repository-container group overflow-hiddden relative">
    <a href="https://github.com/QuesoCaliente" target="_blank">
      <h1
        class="text-4xl font-normal px-9 py-8 text-center text-white group-hover:scale-110 duration-200 transition-transform delay-75"
      >
        Visita mis <span class="text-[#B58D03] font-semibold">repositorios</span
        >
      </h1>
      <img
        class="group-hover:scale-110 h-[300px] duration-200 transition-transform relative"
        src="/images/home/phone-github.webp"
        alt="github"
      />
    </a>
  </article>
  <article class="my-library-container">
    <a href="https://asset-box-nine.vercel.app/" target="_blank">
      <h1 class="text-4xl font-normal px-14 py-14 text-center text-white">
        Libreria de <span class="text-[#B58D03] font-semibold">recursos</span>
      </h1>
    </a>
  </article>
</section>

<style>
  section {
    @apply grid grid-cols-12 gap-4 p-4 md:p-0 mx-4 max-w-screen-xl lg:mx-auto;
  }
  .linkedin-container {
    @apply col-span-12 lg:col-span-8 row-span-2 dark:bg-[#0c0c0d] rounded-lg;
    border: 1px solid #292929;
    a {
      @apply relative overflow-hidden flex flex-col;
    }
  }
  .my-repository-container {
    @apply col-span-12 md:col-span-6 lg:col-span-4 row-span-1 dark:bg-[#0c0c0d] rounded-lg;
    border: 1px solid #292929;
    a {
      @apply relative overflow-hidden flex flex-col;
    }
  }
  .my-library-container {
    @apply col-span-12 md:col-span-6 flex justify-center items-center  lg:col-span-4 row-span-1 dark:bg-[#0c0c0d] rounded-lg;
    border: 1px solid #292929;
    a {
      @apply relative overflow-hidden flex flex-col;
    }
  }
  .title > h1 {
    @apply text-4xl lg:text-5xl font-semibold text-white;
  }
  .title > span {
    @apply text-2xl font-normal;
  }
</style>
