---
import ExperienceItem from "../ui/ExperienceItem.astro";
import SectionTitle from "../SectionTitle.astro";
import dataExperiences from "@/utils/data/experience.json";
import { MountainExperience } from "../react/MountainExperience/MountainExperience";
---

<section class="section">
  <SectionTitle> Experiencia </SectionTitle>
  <MountainExperience client:load experiences={dataExperiences} />
</section>

<style>
  @reference "@/styles/global.css";
  .section {
    @apply relative max-w-screen-xl mx-auto px-4 pb-[60px] w-full;
  }
  .experience-container {
    @apply grid grid-cols-1 gap-4 w-full md:grid-cols-2;
  }
</style>
