---
import Bento from '@/components/sections/Bento.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Bento/>
		
	</main>
</Layout>

<style>


</style>
