---
import type { MarkdownHeading } from "node_modules/astro/dist/types/public";

interface Props {
  headings?: MarkdownHeading[];
}
const { headings } = Astro.props;
---

<nav>
  <ul>
    {
      headings &&
        headings.map((heading) => (
          <li>
            <a
              class="toc-link desktop-toc-link"
              href={`#${heading.slug}`}
              data-slug={heading.slug}
            >
              {heading.text}
            </a>
          </li>
        ))
    }
  </ul>
</nav>

<style>
  @reference "@/styles/global.css";
  ul {
    box-shadow: 2px 0 0 0 #e2e8f0 inset;
  }
  .dark ul {
    box-shadow: 2px 0 0 0 #d1d5db inset;
  }
  .toc-link {
    @apply text-gray-900 dark:text-gray-100 transition-all duration-300 ease-in-out;
    display: block;
    padding: 0.75rem 1rem;
    padding-left: 1.5rem;
    transition: background-color var(--duration);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .toc-link:hover {
    @apply dark:text-gray-900 bg-gray-300;
    box-shadow: 2px 0 0 0 #374151 inset;
  }
  .dark .toc-link:hover {
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    @apply text-gray-800;
    box-shadow: 2px 0 0 0 #1f2937 inset;
  }
  .toc-link.active {
    @apply bg-gray-300 dark:bg-gray-300 font-medium text-gray-900 dark:text-gray-800;
    box-shadow: 2px 0 0 0 #374151 inset;
  }
  .dark .toc-link.active {
    box-shadow: 2px 0 0 0 #1f2937 inset;
  }
</style>

<script>
  function setActiveTocLink() {
    const tocLinks = document.querySelectorAll(".desktop-toc-link");
    const hash = decodeURIComponent(window.location.hash.replace("#", ""));
    tocLinks.forEach((link) => {
      const slug = link.getAttribute("data-slug");
      if (slug === hash) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });
  }

  function initTocLinks() {
    const tocLinks = document.querySelectorAll(".desktop-toc-link");
    tocLinks.forEach((link) => {
      link.addEventListener("click", function (e) {
        e.preventDefault();
        const slug = link.getAttribute("data-slug");
        if (slug) {
          const target = document.getElementById(slug);
          if (target) {
            const yOffset = -80; // Ajusta según tu navbar
            const y =
              target.getBoundingClientRect().top + window.pageYOffset + yOffset;
            window.scrollTo({ top: y, behavior: "smooth" });
            history.pushState(null, "", `#${slug}`);
            setActiveTocLink();
          }
        }
      });
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    initTocLinks();
    setActiveTocLink();
  });

  window.addEventListener("hashchange", setActiveTocLink);
  document.addEventListener("astro:page-load", () => {
    initTocLinks();
    setActiveTocLink();
  });
</script>
