---

---

<div class="gradient-bg"></div>

<style>
  .gradient-bg {
    background: radial-gradient(
      48.42% 48.42% at 49.41% 51.58%,
      rgb(254 255 46 / 34%) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: -1;
    width: 100%;
    max-width: 1464px;
    height: 100%;
    max-height: 1064px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
