---

---

<div class="particles-container">
  <span style="--s:9; --l:2;"></span>
  <span style="--s:10; --l:4;"></span>
  <span style="--s:14; --l:5;"></span>
  <span style="--s:6; --l:4;"></span>
  <span class="hidden md:block" style="--s:15; --l:8;"></span>
  <span class="hidden md:block" style="--s:19; --l:8;"></span>
  <span class="hidden md:block" style="--s:9; --l:5;"></span>
  <span class="hidden md:block" style="--s:8; --l:7;"></span>
  <span class="hidden md:block" style="--s:13; --l:1;"></span>
  <span class="hidden md:block" style="--s:15; --l:2;"></span>
  <span class="hidden md:block" style="--s:18; --l:7;"></span>
  <span class="hidden md:block" style="--s:19; --l:4;"></span>
  <span class="hidden md:block" style="--s:25; --l:9;"></span>
  <span class="hidden md:block" style="--s:28; --l:10;"></span>
  <span class="hidden md:block" style="--s:21; --l:3;"></span>
  <span class="hidden md:block" style="--s:13; --l:5;"></span>
  <span class="hidden md:block" style="--s:15; --l:1;"></span>
  <span class="hidden md:block" style="--s:16; --l:2;"></span>
  <span class="hidden md:block" style="--s:26; --l:5;"></span>
  <span class="hidden md:block" style="--s:17; --l:2;"></span>
  <span class="hidden md:block" style="--s:29; --l:9;"></span>
</div>

<style>
  .particles-container {
    position: absolute;
    top: -95%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: self-end;
    pointer-events: none;
    justify-content: space-evenly;
    z-index: -1;
    padding: 0 20px;
  }
  .particles-container span {
    bottom: 30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid #f1c40f;
    margin: 0 4px;
    border-radius: 10%;
    animation: animate 15s linear infinite;
    animation-duration: calc(var(--s) * 1s);
    animation-delay: calc(var(--l) * 1s);
    opacity: 0;
  }
  .particles-container span:nth-child(even) {
    background: transparent;
    border: 2px solid #f39c12;
    border-radius: 100%;
  }
  @keyframes animate {
    from {
      opacity: 1;
    }
    to {
      transform: translateY(var(--particles-end, -384px)) scale(0.5)
        rotate(-1500deg);
      opacity: 0;
    }
  }
</style>
