---
import Button from "./Buttons/Button.astro";
---

<div class="flex gap-2 items-center">
  <Button
    class="border-none text-3xl hover:text-primary hover:bg-transparent text-paragraph p-0"
    size="icon"
    iconOnly
    color="default"
    radius="none"
    disableSaturateHover
    variant="ghost"
    block
    icon="mdi:discord"
    href="https://twitter.com/quesocaliente0"
  />
  <Button
    class="border-none text-3xl hover:text-primary hover:bg-transparent text-title p-0"
    size="icon"
    iconOnly
    color="default"
    radius="none"
    disableSaturateHover
    variant="ghost"
    block
    icon="mdi:twitch"
    href="https://www.linkedin.com/in/briancifuentes/"
  />
  <Button
    class="border-none text-3xl hover:text-primary hover:bg-transparent text-title p-0"
    size="icon"
    iconOnly
    color="default"
    radius="none"
    disableSaturateHover
    variant="ghost"
    block
    icon="mdi:instagram"
    href="https://twitch.tv/quesocaliente0"
  />
</div>
